@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 375px;
    padding: 0 30px;
  }
}

header {
  margin: 50px 0 60px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo-tab {
  display: none;
}

.header__page {
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__languages .language {
  display: inline-block;
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #B3B3BA;
}

.header__languages .language.current {
  background: #F0145A;
  border-radius: 8px;
  color: #fff;
}

.header__languages .language:hover {
  background: #F5F5FA;
  border-radius: 8px;
}

.header__separator {
  margin: 0 6px;
  background-color: #E6E6F0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.header__address {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.header__phone a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.header__fb-link:hover path {
  fill: #F0145A;
}

.header__burger {
  display: none;
}

.header__nav a {
  margin-left: 15px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.header__nav a:hover {
  border-bottom: 2px solid #24A3FF;
}

.header__nav a.active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

@media screen and (max-width: 768px) {
  .header__logo-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 30px 0;
  }
  .header__logo {
    display: none;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__nav a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 376px) {
  header {
    margin: 0;
  }
  .container.mobile {
    padding: 0;
  }
  .header__page {
    font-size: 20px;
    line-height: 24px;
  }
  .header__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    padding: 7px;
  }
  .header__burger.active {
    background: #E6E6F0;
    border-radius: 8px;
  }
  .header__bar {
    margin-bottom: 4px;
    width: 18px;
    height: 2px;
    background-color: #323264;
  }
  .header__nav a {
    display: none;
  }
  .header__separator {
    display: none;
  }
  .header__address {
    display: none;
  }
  .header__fb-link {
    display: none;
  }
  .header__contacts {
    background: #F5F5FA;
    margin: 0;
    padding: 10px 15px;
    width: 375px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0 10px 15px;
  }
  .header__logo-tab img {
    height: 26px;
  }
  .header__logo-link img {
    width: 69px;
    height: 32px;
  }
}

.footer {
  background: #F5F5FA;
  padding-bottom: 30px;
}

.footer__separator {
  height: 2px;
  background: #E6E6F0;
  margin-bottom: 30px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}

.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__address {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__circle {
  background-color: #B3B3BA;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.footer__onmap {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.footer__fb:hover path {
  fill: #F0145A;
}

.footer__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}

.footer__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.footer__email:hover {
  color: #F0145A;
}

.footer__right {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  text-align: right;
}

.footer__right--tab {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    margin: 0 auto 30px;
  }
  .footer__right {
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .footer__right {
    display: block;
    text-align: center;
  }
  .footer__right--tab {
    display: none;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__geo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__circle {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  max-width: 1480px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 60px;
}

.contacts__content {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  width: 100%;
  max-width: 650px;
}

.contacts__address {
  margin-bottom: 30px;
}

.contacts__separator {
  height: 4px;
  background: #E6E6F0;
  margin-bottom: 30px;
}

.contacts__phone {
  margin-bottom: 15px;
}

.contacts__mail {
  margin-bottom: 30px;
  color: #24A3FF;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #24A3FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contacts__link:hover path {
  fill: #F0145A;
}

.contacts__link:hover .contacts__link__text {
  color: #F0145A;
}

.contacts__link__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contacts__form {
  margin-right: 60px;
  width: 100%;
  background: #F5F5FA;
  border-radius: 12px;
  padding: 30px;
  max-width: 650px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__heading {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.form__name {
  height: 56px;
  margin-bottom: 15px;
}

.form__message {
  height: 130px;
  margin-bottom: 30px;
}

.form__text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form__phone {
  margin-bottom: 15px;
  height: 56px;
}

.form__email {
  margin-bottom: 30px;
  height: 56px;
}

.form__button {
  width: 100%;
  padding: 18px 0;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border: none;
}

.form__button:hover {
  background: #0085FF;
}

.form__button:active {
  background: #006CCF;
}

input, textarea {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  resize: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #B3B3BA;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B3B3BA;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #B3B3BA;
}

input::placeholder, textarea::placeholder {
  color: #B3B3BA;
}

input:focus, textarea:focus {
  border: 1px solid #24A3FF;
  outline: none;
}

input:disabled, input .disabled, textarea:disabled, textarea .disabled {
  background: #EDEDF7;
  border: 1px solid #EDEDF7;
  color: #B3B3BA;
}

input:invalid, input .invalid, textarea:invalid, textarea .invalid {
  border: 1px solid #ff0000;
  color: #ff0000;
}

@media screen and (max-width: 1440px) {
  .contacts__content {
    max-width: 510px;
  }
  .contacts__form {
    max-width: 510px;
  }
}

@media screen and (max-width: 1024px) {
  .contacts__content {
    max-width: 422px;
  }
  .contacts__form {
    max-width: 422px;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin: 0 auto 60px;
    padding: 0 60px;
  }
  .contacts__content {
    margin: 0;
    max-width: 100%;
  }
  .contacts__form {
    margin: 0;
    width: 100%;
    border-radius: 12px;
    padding: 30px;
    max-width: 100%;
  }
}

@media screen and (max-width: 376px) {
  .contacts {
    margin: 30px auto;
    padding: 0 30px;
    gap: 30px;
  }
}
/*# sourceMappingURL=contacts.css.map */