@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './components/header';
@import './components/splash-section';
@import './components/experience';
@import './components/services';
@import './components/team';
@import './components/clients';
@import './components/publications';
@import './components/footer';

main {
    padding-top: 50px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
}
.container {
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}
