@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './components/header';
@import './components/splash-section';
@import './components/experience';

main {
    padding-top: 50px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}
