.clients {
    margin-bottom: 60px;
    &__heading {
        margin-bottom: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $main;
    }
    &__grid {
        margin: 0 auto;
        max-width: 1720px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-auto-rows: 120px;
    }
    &__grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            background-color: #1C4280;
            border-radius: 12px 0 0 0;
        }
        &:nth-child(2) {
            background-color: #143646;;
        }
        &:nth-child(3) {
            background-color: #F48B30;;
        }
        &:nth-child(4) {
            background-color: #9E4DC3;
            border-radius: 0 12px  0 0;
        }
        &:nth-child(5) {
            background-color: #FD9339;
        }
        &:nth-child(6) {
            background-color: #E2E2E4;
        }
        &:nth-child(7) {
            background-color: #C71C36;
        }
        &:nth-child(8) {
            background-color: #DCF3F9;
        }
        &:nth-child(9) {
            background-color: #EAEAEA;
            border-radius: 0  0  0 12px;
        }
        &:nth-child(10) {
            background-color: #282240;
        }
        &:nth-child(11) {
            background-color: #1D4568;
        }
        &:nth-child(12) {
            background-color: #000000;
            border-radius: 0  0 12px 0;
        }
    }
}
@media screen and  (max-width: 1440px) {
    .clients {
        margin-bottom: 0;
        &__grid {
            max-width: 1440px;
            grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
        }
        &__grid-item {
            &:nth-child(1) {
                border-radius: 0;
            }
            &:nth-child(4) {
                border-radius: 0;
            }
            &:nth-child(9) {
                border-radius: 0;
            }
            &:nth-child(12) {
                border-radius: 0;
            }
        }
    }
}
@media screen and  (max-width: 1024px) {
    .clients {
        margin-bottom: 0;
        &__grid {
            max-width: 1024px;
            grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
        }
    }
}
@media screen and  (max-width: 768px) {
    .clients {
        margin-bottom: 0;
        &__grid {
            max-width: 768px;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        }
    }
}
@media screen and  (max-width: 376px) {
    .clients {
        &__grid {
            max-width: 375px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}