header {
    margin: 50px 0 60px;
}
.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        gap: 4px;
        align-items: flex-start;
    }
    &__logo-tab {
        display: none;
    }
    &__page {
        font-size: 36px;
        line-height: 44px;
        color: $main;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__languages {
        .language {
            display: inline-block;
            padding: 5px 7px;         
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            color: $text-grey;
            transition: 0.6s ease;
            &.current {
                background: $accent;
                border-radius: 8px;
                color: $text-color;
            }
            &:hover {
                background: $bg;
                border-radius: 8px;
            }
        }
    }
    &__separator {
        margin: 0 6px;
        background-color: $separator;
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }
    &__address {
        font-size: 16px;
        line-height: 20px;
        color: $text-grey;
    }
    &__phone a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $text-grey;
    }
    &__fb-link {
        path {
            transition: 0.6s ease;
        }
        &:hover {
            path {
                fill: $accent;
            }        
        }
    }
    &__burger {
        display: none;
    }
    &__nav a {
        margin-left: 15px;
        padding-bottom: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $blu-reg;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.6s ease;
        &:hover {
            border-bottom: 2px solid $blu-reg;
        }
        &.active {
            color: $accent;
            border-bottom: 2px solid $accent;
        }
    }
}
@media screen and  (max-width: 768px) {
    .header{
        &__logo-tab {
            display: flex;
            gap: 4px;
            align-items: flex-start;
            margin: 30px 0;
        }
        &__logo {
            display: none;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
        }
        &__nav a:first-child {
            margin-left: 0;
        }
    }
}
@media screen and  (max-width: 575px) {
    header {
        margin: 0;
    }
    .container.mobile {
        padding: 0;
    }
    .header {
        &__page {
            font-size: 20px;
            line-height: 24px;
        }
        &__mob {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__burger {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            padding: 7px;
            &.active {
                background: #E6E6F0;
                border-radius: 8px;
            }
        }
        &__bar {
            margin-bottom: 4px;
            width: 18px;
            height: 2px;
            background-color: $main;
        }
        &__nav a {
            display: none;
        }
        &__separator {
            display: none;
        }
        &__address {
            display: none;
        }
        &__fb-link {
            display: none;
        }
        &__content {
            width: 575px;
        }
        &__contacts {
            background: $bg;
            margin: 0;
            padding: 10px 15px;         
            width: 100%;
            justify-content: space-between;
        }
        &__logo-tab {
            display: flex;
            margin: 15px 0 10px 15px;
            img {
                height: 26px;
            }
        }
        &__logo-link img {
            width: 69px;
            height: 32px;
        }
    }
}