header {
    margin: 50px 0 60px;
}
.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        gap: 4px;
        align-items: flex-start;
    }
    &__page {
        font-size: 36px;
        line-height: 44px;
        color: $main;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__languages {
        .language {
            padding: 5px 7px;         
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            color: $text-grey;
            &.current {
                background: $accent;
                border-radius: 8px;
                color: $text-color;
            }
            &:hover {
                background: $bg;
                border-radius: 8px;
            }
        }
    }
    &__separator {
        margin: 0 6px;
        background-color: $separator;
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }
    &__address {
        font-size: 16px;
        line-height: 20px;
        color: $text-grey;
    }
    &__phone a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $text-grey;
    }
    &__fb-link:hover {
        path {
            fill: $accent;
        }        
    }
    &__nav a {
        margin-left: 15px;
        padding-bottom: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $blu-reg;
        &:hover {
            border-bottom: 2px solid $blu-reg;
        }
        &.active {
            color: $accent;
            border-bottom: 2px solid $accent;
        }
    }
}