.splash {
    &__symbol {
        height: 1000px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__img {
        height: 100%;
    }
    &__heading {
        position: relative;
        z-index: 1;
        margin-bottom: 405px;
        margin-top: 367px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $text-color;
    }
    &__scroll {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        margin-bottom: 60px;
        path, circle {
            transition: 0.6s ease;
        }
        &__button:hover circle,
        &__button:hover path {
            stroke: $accent;
        }
    }
}
@media screen and  (max-width: 1440px) {
    .splash {
        &__symbol {
            height: 799px;
        }
        &__heading {
            margin-bottom: 305px;
            margin-top: 261px;
        }
    }
}
@media screen and  (max-width: 1024px) {
    .splash {
        &__symbol {
            height: 768px;
        }
        &__heading {
            margin-bottom: 289px;
            margin-top: 245px;
        }
    }
}
@media screen and  (max-width: 768px) {
    .splash {
        &__symbol {
            height: 1024px;
            width: 100%;
        }
        &__heading {
            margin-bottom: 417px;
            margin-top: 269px;
        }
        &__img {
            object-fit: cover;
            width: 100%;
        }
    }
}
@media screen and  (max-width: 575px) {
    .splash {
        &__symbol {
            height: 600px;
        }
        &__heading {
            margin-bottom: 159px;
            margin-top: 139px;
            padding: 0 30px;
            height: 138px;
        }
        &__scroll {
            margin-bottom: 30px;
        }
    }
}